# Ambiente de desenvolvimento para o projeto de Hamburgueria
hambug-venv

# Pasta de cache
**__pycache__**

# Arquivo env que contém as variáveis de ambiente
hamburgueria/.env

# Imagens do projeto
images/

hamburgueria/node_modules/**