<!-- core/templates/core/agradecimento.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimento</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Obrigado pela Compra!</h1>
    </header>
    <main>
        <p>Seu pedido está em preparação e será entregue em breve.</p>
        <!-- Adicione aqui os detalhes do pedido e o status -->
    </main>
</body>
</html>

